<mat-card>
  <mat-card-content>
    <div class="centered-container">
      <button id="create-game-button" (click)="createGame()" mat-raised-button color="primary">
        Create A New Game!
      </button>
    </div>
    <div class="centered-container">
      Then share the url for others to join
    </div>
    <div id="how-its-played">
      How The Game Is Played
    </div>
    <div class="centered-container">
      Each player chooses a word. Players will then work to form a chain of drawings and guesses starting from that
      word. Once each player has drawn or guessed once in every other players' chain the game ends, and each player gets
      to see how wildly different the final guess is from their initial word.
    </div>
  </mat-card-content>
</mat-card>